
#gameCanvas {
    background-image: url('../Game/img/background-gamex4.png');
    background-size: cover; 
    display: block;
    margin-left:40px;
    background-position: center;
    width: 70%; 
    max-height: 80vh; 
}


#game{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#ph
{
    width: 15%;
    max-height: 500px;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Game/img/PH-water-level.png");
}


#line
{
    background-color: black;
    width: 10%;
    max-width: 50px;
    height: 5px;
    position: relative;
}

