#gameCanvas
{
    background-color: lightblue;
    display: block;
    margin: 0 auto;
}

#ph
{
    width: 130px;
    height: 325px;
    align-items: end;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../Game/img/PH-water-level.png");
}

#line
{
    background-color: black;
    width: 50px;
    height: 10px;
}