@import url(https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css);

@keyframes ripple {
  0% { background-position: 0 0; }
  100% { background-position: 100% 100%; }
}

.information-title {
  font-size: 2,5rem;
  font-weight: bold;
  text-align: center; 
  color: #000;
  margin-top: 20px;
  margin-bottom: 35px;
}

.information-second-title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center; 
  color: #000;
  margin-top: 20px;
  margin-bottom: 25px;
}

.information-container {
  max-width: 900px;
  width: 100%;
  padding: 30px;
  color: #000;
  border-radius: 10px;
  background-color: #81caf195;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin: 2rem auto;
  max-height: auto;
}

.information-container p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 1rem;
}

.min-h-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem 0;
}