#pause {
    background: transparent;
    border: none; 
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    position: fixed; 
    right: 70px; 
    top: 70px; 
    font-size: 100px; 
    z-index: 999;
}

#instructions{
    background: transparent;
    border: none; 
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    position: fixed; 
    right: 200px; 
    top: 70px; 
    font-size: 100px; 
    z-index: 999;
}